$page-width: 21cm;
$page-height: 29.7cm;

$green: #2f5d62;
$black: #3d3939;
$outline-black: #707070; // #3D3939;
$page-background: #fffaf1;

$content-margin-top: 50px;
$content-margin-left: 20px;
$content-margin-right: 20px;
$content-margin-bottom: 50px;

$default-page-font: "Shalimar";
$josefin-sans-font: "Josefin Sans";

$default-letter-spacing: 3.0;
$default-word-spacing: 8.0;

$watermark_left: 54px;
$watermark_width: 693px;
$watermark_height: 489px;
$watermark_bottom: 108px;
$watermark_opacity: 0.15;

$footer_color: $green;
$footer_content: "schools";
$footer_font_size: 16px;
$footer_height: 14px;
$footer_position: absolute;
$footer_bottom: 18px;
$footer_right: 23px;
